.main {
    background-color: var(--white-1-color);
    height: 100dvh;
    transition: background-color 0.3s ease-in-out;
}

.neutral {
    background-color: var(--yellow-1-color);
}

.negative {
    background-color: var(--red-1-color);
}

.positive {
    background-color: var(--green-1-color);
}

.img {
    width: 100px;
    height: 100px;
}

.input {
    width: 460px;
}

.textarea {
    resize: none;
    width: 460px;
    padding: 8px 10px;
    background-color: var(--white-3-color);
    color: var(--black-color);
    border: 2px solid var(--black-color);
    border-radius: 5px;
    outline: none;
    line-height: 1rem;
    font-size: 0.9rem;
}

.neutral .textarea {
    background-color: var(--yellow-3-color);
}

.neutral .textarea::placeholder {
    color: var(--yellow-gray-color);
}

.negative .textarea {
    background-color: var(--red-3-color);
}

.negative .textarea::placeholder {
    color: var(--red-gray-color);
}

.positive .textarea {
    background-color: var(--green-3-color);
}

.positive .textarea::placeholder {
    color: var(--green-gray-color);
}